/* header.css */
header {
    border-width: 2px;
    border-color: #0D0628 #0D0628 #0D0628 #0D0628;
    border-style: solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #0A1428;
    height: 4rem;
    width: 100%;
    top: 0;
    position: sticky;
    border-radius: 5px;
}

.main-head {
    border-width: 3px;
    border-color: #0D0628 #0D0628 #0D0628 #0D0628;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    background-color: #0A1428;
    height: 4rem;
    width: 100%;
    top: 0;
    position: sticky;
}

.main-head button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    outline: none;
    color: #ffffff;
}

.main-head button.selected {
    color: #ffbf00;
}
