.leaderboard {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    text-align: center;
    padding: 10px 50px 10px 50px;
}

.leaderboard.visible {
    opacity: 1;
    transform: translateY(0);
}

.leaderboard h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffbf00;
}

.player-list {
    list-style-type: none;
    padding: 20px 0 0 0;
    overflow: scroll;
    height: 700px;
}

.player-list::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.player-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.player-list::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Pour Firefox */
.player-list {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}


.player-item {
    border-width: 3px 3px 3px 3px;
    border-style: solid;
    border-color: #0D0628 #0D0628 #0D0628 #0D0628;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-bottom: 12px;
    background-color: #151a30;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.player-rank {
    margin-right: 30px;
    display: flex;
    width: 200px;
}

.tier {
    display: inline-block;
    padding: 5px 10px;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}

.player-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 150px;
}

.player-name {
    font-weight: bold;
    /*margin-bottom: 2px;*/
    /*margin-top: 2px;*/
    color: #ffffff;
    display: flex;
}

.player-item .logo {
    margin-left: auto;
}

.league-points {
    display: flex;
    color: #cccccc;
}
.hot-streak {
    border-width: 3px 3px 3px 3px;
    border-style: solid;
    border-color: #F79824 #F79824 #F79824 #F79824;
}

.player-progress {
    display: flex;
    align-items: center;
    /*padding-left: 20px;*/
}

.progress-container {
    width: 200px;
}

.container {
    background-color: darkred;
    border-radius: 2px;
}

.player-wins {
    color: deepskyblue;
    font-weight: bold;
    margin-right: 10px;
}

.player-losses {
    color: red;
    font-weight: bold;
    margin-right: 10px;
}

.wins-losses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.player-streak {
    width: 100px;
}

.opgg-tft-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 15%;
}

.opgg-lol-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 15%;
}